@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Paytone One', sans-serif;
}

body {
  background-image: url('./images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 100vh;
}

